/vendor/
/node_modules/
/composer.lock
tests/Application/.env

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock
yarn.lock

/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml
/.idea
/tests/Application/public/build
/package-lock.json
