{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div id="greeting">This is Messenger page <br></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/ahmedkhdsyliusbotplugin/greeting.js'} %}
{% endblock %}
