<html>
    <body>
        <div id="greeting">{{ greeting }}</div>
        <div id="app">
            <App />
        </div>
    </body>
    <script src="{{ asset('build/app.js') }}"></script>
</html>
